
body {
    background: url(./img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
header {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
}
section {
    padding: 15px;
    width: 800px;
    margin: auto;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

#txtano {
    margin-left: 2px;
    margin-top: 10px;
    border-radius: 0px;
    border: none;
    background: rgba(255, 255, 255, 100%);
}
#button {
    background: white;
    background-size: cover;
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 0px;
    border: none;
    font-size: 12pt;
}
#button:hover {
    background: rgb(134, 134, 134);
    transition: 0.3s;
    color: rgba(255, 255, 255, 100%);
}
#result {
    font-size: 14pt;
    font-weight: lighter;
    font-family: 'Quicksand', sans-serif;
}
#result p { /*Paragrafo de preparação*/
    font-size: 14pt;
    font-weight: lighter;
    margin-right: 0;
    font-family: 'Quicksand', sans-serif;
}
footer {
    color: white;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    margin-top: 50px;
    background: none;
    width: 500px;
}
#imgfooter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
}
#cursoemvideo {
    width: 40px;
    margin-left: 10px;
}
#github {
    width: 30px;
    margin-right: 10px;
}
/*Imagem dos seres humanos que esta no javScript */
/*A imagem ue está em html recebe o mesmo estilo porque contém o mesmo id*/
img#foto { 
    border-radius: 50%;
    width: 180px;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    display: flex;
}